* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #1D202B;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;

	/* flex */
	/* display: flex;  para que acomoden los ELEMENTOS del componentes de derecha izquierda  en fila por defecto -
	 gap: 20px; Para que se ponga una separación entre componetes */

	 /* grid */
	 display: grid;
	 grid-template-columns: 3fr 1fr; /* Para que defina cuanto esppacio le correspode acada elemento |, cada valor fr(fraccion )  depende de cuantos COmponenets estnes*/
	 gap: 20px;

}

.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.contenedor-conciertos {

	/* flex */
	/*  width: 70%; para tomar el 70% de toral de la pantalla
	display: flex;  para que se comoden como  fila - de derecha a izquierda
	flex-wrap: wrap; Para que respera el wdth de los elementso hijos y nos que no entres los desplaza hahcia abajo
	gap: 20px; */

	/* grid */
	display: grid;
	 grid-template-columns:repeat(3, 1fr);  /* = 1fr 1fr 1fr; */
	 gap: 20px
}

.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;

	/* flex */
	/* width: calc(33.33% - 20px) ; par qe exietnat los 3 elementos */
	
}

.card .textos {
	
	
	/* flex */
	display: flex;
	flex-direction: column; /*  columna | */
	justify-content:space-between; /* tendrán espacio entre ellos. []  []  [] */
	height: 100%;  /* si no se pone, no ve el justify-content */ 

	/* Grid */
	 /*display: grid;
	grid-template-rows: 1fr auto;- el primer elmenteo toma todo 1fr(1fraccion =100%) y el otro solo el tamanio que necesite*/
}

.banner {
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	background-size: cover;
	background-position: center center;

	
	/* flex */
	display: flex;
	flex-direction: column;  /* columna | */
	justify-content: space-between; /* tendrán espacio entre ellos. []  []  [] */

	/* grid */
	/* display: grid;
	grid-template-rows: auto auto auto;
	align-items: center; */

}

.banner ul {
	list-style: none;
}

.banner ul li {
	margin: 15px;
	font-weight: bold;
}

.banner .boton {
	background: #FFD600;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

@media screen and (max-width: 900px) {
	
}

@media screen and (max-width: 700px) {
	
}

@media screen and (max-width: 600px) {

}